/* Coolors Exported Palette - coolors.co/050609-f1f7ee-b0bea9-3c3c3c-d1dede */

/* HSL */
$black: hsla(225%, 29%, 3%, 1);
$text: hsla(100%, 36%, 95%, 1);
$highlight: hsla(100%, 14%, 70%, 1);
$grey: hsla(0%, 0%, 24%, 1);
$bright: hsla(180%, 16%, 85%, 1);

/* RGB */
$color1: rgba(5, 6, 9, 1);
$color2: rgba(241, 247, 238, 1);
$color3: rgba(176, 190, 169, 1);
$color4: rgba(60, 60, 60, 1);
$color5: rgba(209, 222, 222, 1);