@include global-reset;

body {
    background-color: $black;
    color: $text;
    font-family: $GeneralFont;
    height: 100%;
}
a {
    color: $highlight;
    @include hover-link;
}
.spacer {
    display:flex;
    justify-content: space-between;
}
.mainContent {
    width: 70rem;
    display:flex;
    position: absolute;
    top:  10%;
    left: 25%;
    justify-content: space-between;
    margin-bottom: -1rem;

        @media screen and (max-width: $HDWidth) {
            left: 0;
        }

        @media screen and (max-width: $SDWidth) {
            width: 100%;
            display: block;
        }

    
    .sideMenu {
        width: 10rem;
        height: 15rem;
        background-color: $grey;
        @include clearfix;
        
        @media screen and (max-width: $SDWidth) {
            height: auto;
            min-height: 2rem;
            width: 100%;
        }

        .mainMenu {
            padding-left: 1rem;
            list-style: none;
            margin-top: .5em;
            @include clearfix;

            li {
                @include background-image(
                        linear-gradient(
                            to right,
                            $grey,
                            tint($grey, 20)    
                        )
                    );
                margin: 0.5em 0;
                padding-top: .5em;
                width: 100%;
                
                @media screen and (max-width: $SDWidth) {
                    float: left;
                    width: 10rem;
                    margin-left: 1rem;
                }
                
                &:hover {
                    @include background-image(
                        linear-gradient(
                            to right,
                            tint($grey, 20),
                            $black    
                        )
                    );
                }

                a {
                    display: block;
                }
            }
        }
    }
    .content {
        width: 55rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        background-color: $grey;
        overflow-wrap: break-word;

        @media screen and (max-width: $SDWidth) {
            margin: auto;
            display: block;
        }

        @media screen and (max-width: $TBWidth) {
            width:100%;
        }
        div{
            margin-top:2rem;
        }    
        .profile {
            max-width: 12rem;
            max-height: 12rem;
            margin-right: 1rem;
            margin-left: 1rem;

            @media screen and (max-width: $TBWidth) {
                max-width: 20rem;
                max-height: 20rem;
            }
        }
        .profileContent {
            width: 40rem;
            @media screen and (max-width: $TBWidth) {
                width:100%;
            }
        }
        .dataContent {
            width: 54rem;
            margin: auto;
            flex-shrink: 0;
            @media screen and (max-width: $TBWidth) {
                width:100%;
            }
        }
        .multiColumn {
            @include columns(20em 2);

            @media screen and (max-width: $TBWidth) {
                @include columns(0 1);
            }
        }

        h1 {
            margin-top: 5pt;
            font-size: 24pt;
            width: 100%;
            height: 24pt;
            @media screen and (max-width: $PHWidth){
                font-size:20pt;
                height: 20pt;
            }
        }
        h2 {
            margin-top: 2pt;
            font-size: 16pt;
            font-weight: bold;
            span {color: shade($text, 20%)}
        }
        h3 {
            margin-top: 2pt;
            font-size: 12pt;
            font-weight: bold;
        }
        p {
            font-size: 12pt;
            margin-top: 4pt;
        }
        ul {
            list-style: square;
            padding: 10pt 0 5pt 12pt;
            ul {
                padding-top: 0;
            }
        }
    }

    &:after {      
        content: "";
        display: block;
        height: 1rem;
    }
}
/*TO-DO Fix later */
.clearfix {
    clear: both;
    @include clearfix;
}
.footer {
    height:1rem;
    width: 100%;
}