@include global-reset;

body {
    background-color: $black;
    color: $text;
}
a {
    color: $highlight;
    @include hover-link
}
.spacer {
    display:flex;
    justify-content: space-between;
}
.mainContent {
    width: 800pt;
    display:flex;
    position: absolute;
    top:  10%;
    left: 25%;
    justify-content: space-between;

    .sideMenu {
        width: 10rem;
        height: 9rem;
        background-color: $grey;

        ul {
            list-style: none;
        }

        .mainMenu {
            padding-left: 1rem;

            li {
                width: 80%;
            }
        }
    }
    .content {
        width: 55rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        background-color: $grey;
        
        .profile {
            max-width: 12rem;
            max-height: 12rem;
            margin-right: 1rem;
            margin-left: 1rem;
        }
        .profileContent {
            width: 40rem;
            flex-shrink: 0;
        }
        .dataContent {
            width: 54rem;
            margin: auto;
            flex-shrink: 0;
        }
    }
}
/*TO-DO Fix later */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}