body {
    background-color: $black;
    color: $text;
}
a {
    color: $highlight;
    @include hover-link
}
.spacer {
    display:flex;
    justify-content: space-between;
}
.mainContent {
    width: 700px;
    display:flex;
    position: absolute;
    top:  50%;
    left: 25%;
    justify-content: space-between;
    background-color: $grey;

    .sideMenu {
        width: 20%;
        ul {
            list-style: none;
        }

        .mainMenu {
            padding-left: 1rem;

            li {
                width: 80%;
            }
        }
    }
    .content {
        width: 79%;
        display: flex;
        justify-content: flex-start;
        
        .profile {
            width: 20%;
            margin-right: 1rem;
        }
    }
}