/* line 1, sass/_styles.scss */
body {
  background-color: black;
  color: white;
}

/* line 5, sass/_styles.scss */
p {
  font-weight: bold;
}

/* line 8, sass/_styles.scss */
.mainContent {
  width: 700px;
  position: absolute;
  top: 50%;
  left: 25%;
  justify-content: flex-start;
  background-color: #f0f0;
}
