extends wraper
block content
    .dataContent
        h1 ACTIVITIES
        p https://github.com/PeterBustraan
        p Magneto 2 Module Development - https://github.com/PeterBustraan/Magento2-VapeUpseller
        p C# Unity Development – Logic Games based on math and resource management
        p Linux Server Administration – Voice, Web, Development, and Game Server Administration
        p WordPress Development and Administration – Plugin Development, Multisite, Server Setup


