extends wraper
block content
    .dataContent
        h1 ACTIVITIES
        p 
            a(href="https://github.com/PeterBustraan") https://github.com/PeterBustraan
        p Magneto 2 Module Development - 
            a(href="https://github.com/PeterBustraan/Magento2-VapeUpseller") https://github.com/PeterBustraan/Magento2-VapeUpseller
        p C# Unity Development – Logic Games based on math and resource management
        p Linux Server Administration – Voice, Web, Development, and Game Server Administration
        p WordPress Development and Administration – Plugin Development, Multisite, Server Setup
        
        h2 NightShip Work
        p NFOS 
            a(href="http://www.nfos.org/") http://www.nfos.org/
        p OAM
            a(href="http://opticiansma.org/") http://opticiansma.org/
