extends wraper
block content
    .dataContent
        h1 EDUCATION
        h2 Computer Science 
            span | Trident Technical College
        p
            | 2016 – 2017 AAS COMPUTER PROGRAMMING 
        p
            | 3.607 Degree GPA, focused on courses dealing with design patterns for code both compiled and database related, culminating in an in-depth look at C#
        h2 Computer Science 
            span | Coastal Carolina University
        p
            | 2008 – 2009
        p
            | Courses covering Programming Theory, Object Oriented Development