extends wraper
block content
 .dataContent
        h1 EXPERIENCE
        h2 Software Engineer 
            span | Nightship Networks
        p   08/2012 – 04/2014
        p
            |   Software firm providing solutions to small business website design, software development, database design and commercial artwork.   
            |   Created and customized software applications using advanced development and coding techniques. Managed all phases of application design -- from coding and prototyping through system testing, integration and deployment.
        p   Results:
            ul
                li Served as a member of designated project teams, developing strategies to ensure customer satisfaction.
                li Regarded as a key member of pre-sales team closing contracts by providing technical descriptions and support 
                li Developed custom .net software solutions to help customers make more informed decisions, improve their use of capital and manage risk more effectively.
                li Developed and enhanced programs using Visual Basic, HTML5, CSS, and TSQL; contributing to solutions that streamlined processes, increased accuracy and lowered costs. 
        h2 Freelance Programmer
        p 07/2012 – 06/2014
        p Completed assignments in Web Applications and Services, Web Development, Programming, and Web Application Development.
        h2 Construction Crew
        p 2016
        p Handled Training and Transport for new hires as a part of the crew handling the final touches on homes through out the tri-county area.
