extends wraper
block content
    img.profile(src="/profilePicture.jpg")
    .profileContent
        h1 COMPUTER PROGRAMMER 
        p 
            |Solutions-driven programmer with a four-year record of accomplishment and commended performance in CMS Development & Upgrading. Experience with various IDEs and Server setups. Proficient in numerous programming languages.

    .dataContent
        h1 SKILLS
        h2 Practical
        h3 WEB DESIGN AND DEVELOPMENT
        ul 
            li CMS development, blogging systems, user interfaces
            li Building responsive and mobile ready web pages
            li Building and modifying new interfaces for customers’ specific needs
            li Implementing specific security features for users
        h3 OBJECT ORIENTED PROGRAMMING
        ul
            li Practical experience in MVC programming
            li Training in modern programming patterns
            ul    
                li Singleton, Factory, Builder, Abstract, Prototype
            li SCALABLE AND MODULAR DEVELOPMENT
            ul    
                li Frequently restructured and modified rigidly developed systems to multi-functional applications on Microsoft servers
                li Implemented modern programming techniques to expand applications
        h2 Languages
        ul.multiColumn
            li C#, Visual Basic, Classic ASP, SQL Server
            li Java, JS, HTML5, SCSS, PHP, MYSQL
            li Compass, JavaFX, FXML, Bootstrap
            li jQuery, RequireJS, Grunt, Docker
            li gulp, npm, Git, GitHub 	
            li JSON, SOAP, AJAX
            li Linux Shell, PowerShell
            li Gimp, Photoshop

    .dataContent
        h1 EDUCATION
        h2 Computer Science 
            span | Trident Technical College
        p
            | 2016 – 2017 AAS COMPUTER PROGRAMMING 
        p
            | 3.607 Degree GPA, focused on courses dealing with design patterns for code both compiled and database related, culminating in an in-depth look at C#
        h2 Computer Science 
            span | Coastal Carolina University
        p
            | 2008 – 2009
        p
            | Courses covering Programming Theory, Object Oriented Development

    .dataContent
        h1 EXPERIENCE
        h2 Software Engineer 
            span | Nightship Networks
        p   08/2012 – 04/2014
        p
            |   Software firm providing solutions to small business website design, software development, database design and commercial artwork.   
            |   Created and customized software applications using advanced development and coding techniques. Managed all phases of application design -- from coding and prototyping through system testing, integration and deployment.
        p   Results:
            ul
                li Served as a member of designated project teams, developing strategies to ensure customer satisfaction.
                li Regarded as a key member of pre-sales team closing contracts by providing technical descriptions and support 
                li Developed custom .net software solutions to help customers make more informed decisions, improve their use of capital and manage risk more effectively.
                li Developed and enhanced programs using Visual Basic, HTML5, CSS, and TSQL; contributing to solutions that streamlined processes, increased accuracy and lowered costs. 
        h2 Freelance Programmer
        p 07/2012 – 06/2014
        p Completed assignments in Web Applications and Services, Web Development, Programming, and Web Application Development.
        h2 Construction Crew
        p 2016
        p Handled Training and Transport for new hires as a part of the crew handling the final touches on homes through out the tri-county area.

    .dataContent
        h1 ACTIVITIES
        p 
            a(href="https://github.com/PeterBustraan") https://github.com/PeterBustraan
        p Magneto 2 Module Development - 
            a(href="https://github.com/PeterBustraan/Magento2-VapeUpseller") https://github.com/PeterBustraan/Magento2-VapeUpseller
        p C# Unity Development – Logic Games based on math and resource management
        p Linux Server Administration – Voice, Web, Development, and Game Server Administration
        p WordPress Development and Administration – Plugin Development, Multisite, Server Setup


