extends wraper
block content
    img.profile(src="/profilePicture.jpg")
    .profileContent
        h1 COMPUTER PROGRAMMER 
        p 
            |Solutions-driven programmer with a four-year record of accomplishment and commended performance in CMS Development & Upgrading. Experience with various IDEs and Server setups. Proficient in numerous programming languages.
