extends wraper
block content
    h1 Languages
    ul.multiColumn
        li C#, Visual Basic, Classic ASP, SQL Server
        li Java, JS, HTML5, SCSS, PHP, MYSQL
        li Compass, JavaFX, FXML, Bootstrap
        li jQuery, RequireJS, Grunt, Docker
        li gulp, npm, Git, GitHub 	
        li JSON, SOAP, AJAX
        li Linux Shell, PowerShell
        li Gimp, Photoshop