extends wraper
block content
    .dataContent
            h1 SKILLS
            h2 Practical
            h3 WEB DESIGN AND DEVELOPMENT
            ul 
                li CMS development, blogging systems, user interfaces
                li Building responsive and mobile ready web pages
                li Building and modifying new interfaces for customers’ specific needs
                li Implementing specific security features for users
            h3 OBJECT ORIENTED PROGRAMMING
            ul
                li Practical experience in MVC programming
                li Training in modern programming patterns
                ul    
                    li Singleton, Factory, Builder, Abstract, Prototype
                li SCALABLE AND MODULAR DEVELOPMENT
                ul    
                    li Frequently restructured and modified rigidly developed systems to multi-functional applications on Microsoft servers
                    li Implemented modern programming techniques to expand applications
