
block link
    - selected = "Skills";
    
//Incase you where wondering I just like making my code readable
-  
    menu = [{name: 'Profile',       url: '/',        faIcon:'fa-address-book'},
            {name: 'Skills',        url: '/skills',  faIcon:'fa-toolbox'},
            {name: 'Languages',     url: '/lang',    faIcon:'fa-code'},
            {name: 'Education',     url: '/edu',     faIcon:'fa-graduation-cap'},
            {name: 'Experience',    url: '/exp',     faIcon:'fa-briefcase'},
            {name: 'Activities',    url: '/active',  faIcon:'fa-code-branch'}/*,
            {name: 'References',    url: '/ref',     faIcon:'fa-comments'}*/];

html(lang="eng/US")

    head
        title #{title}
        link(rel="stylesheet",type="text/css",href="main.css")
        script(defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous")
    body
        .mainContent
            .sideMenu
                ul.mainMenu
                    each item in menu
                        li.spacer
                            i(class="fas "+ item.faIcon)
                            if selected == item.name
                                a.selected(href=item.url, title=item.name)= item.name
                            else
                                a(href=item.url, title=item.name)= item.name
            .content
                block content
    footer.spacer
        i.fas.fa-copyright
        p
            |test footer
